{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RNS Babel</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/third_party/htmx.min.js"></script>
    </head>

    <body>
        <main id="container">
            <div id="files" class="menu">
                <div class="file" title="/Data/String.csv">[Base] String</div>
                <div class="file" title="/Data/Names.csv">[Base] Names</div>
                <div class="file" title="/Data/Descriptions.csv">[Base] Descriptions</div>
                <div class="file" title="/Data/SomethingElse.csv">[Base] SomethingElse</div>
                <div class="file" title="/A/Really/Long/Path/Somehow.csv">[Really Deep Mod] Somehow</div>
            </div>

            <div id="languages" class="menu">
                <div class="language" title="English">English</div>
                <div class="language" title="Japanese">日本語</div>
                <div class="language" title="Chinese">中文</div>
                <div class="language" title="Spanish">Español</div>
                <div class="language" title="Longer Name">Longer Name</div>
            </div>

            <div id="strings" class="menu">
            </div>
        </main>
    </body>
</html>
{{end}}
